.goodsAmount {
    font-size: 10px;
}

.goodsAmount.WithChange {
    height: 16px;
    line-height: 105%;
}

svg{
    transform: scale(0.8);
    transform-origin: 3% -25%;
}

.modifiers{
    transform: scale(0.8);
    transform-origin: 94% -102%;
}
