
.vs
*.csproj.user

Database/.vs
Database/obj
Database/EmpiresInSpaceDatabase.dbmdl
Database/EmpiresInSpaceDatabase.jfm
Database/EmpiresInSpaceDatabase.sqlproj.user

EmpiresInSpace/bin
EmpiresInSpace/js/*.js
EmpiresInSpace/js/*.js.map
EmpiresInSpace/js/*.bak
EmpiresInSpace/js/Scripts/*.js
EmpiresInSpace/js/Scripts/*.js.map
EmpiresInSpace/js/Scripts/*.bak
EmpiresInSpace/js/Scripts/Buildings/*.js
EmpiresInSpace/js/Scripts/Buildings/*.js.map
EmpiresInSpace/js/Scripts/Buildings/*.bak
EmpiresInSpace/js/Scripts/Quests/*.js
EmpiresInSpace/js/Scripts/Quests/*.js.map
EmpiresInSpace/js/Scripts/Quests/*.bak
EmpiresInSpace/obj
EmpiresInSpace/Server/*.bak
EmpiresInSpace/SocketServer/*.bak
EmpiresInSpace/*.bak

EmpiresInSpaceIndex/*.js
EmpiresInSpaceIndex/*.js.map
EmpiresInSpaceIndex/bin
EmpiresInSpaceIndex/obj
EmpiresInSpaceIndex/i18n/*.js
EmpiresInSpaceIndex/i18n/*.js.map
EmpiresInSpaceIndex/index/*.js
EmpiresInSpaceIndex/index/*.js.map

EmpiresInSpaceServer/bin
EmpiresInSpaceServer/obj

UnitTestProject/bin
UnitTestProject/obj

MapGenerator/bin
MapGenerator/obj

node_modules
packages


