
.vs
*.csproj.user

Database/.vs
Database/obj
Database/EmpiresInSpaceDatabase.dbmdl
Database/EmpiresInSpaceDatabase.jfm
Database/EmpiresInSpaceDatabase.sqlproj.user
Database/bin

EmpiresInSpace/bin
EmpiresInSpace/js/*.js
EmpiresInSpace/js/*.js.map
EmpiresInSpace/js/*.bak
EmpiresInSpace/js/Scripts/*.js
EmpiresInSpace/js/Scripts/*.js.map
EmpiresInSpace/js/Scripts/*.bak
EmpiresInSpace/js/Scripts/Buildings/*.js
EmpiresInSpace/js/Scripts/Buildings/*.js.map
EmpiresInSpace/js/Scripts/Buildings/*.bak
EmpiresInSpace/js/Scripts/Quests/*.js
EmpiresInSpace/js/Scripts/Quests/*.js.map
EmpiresInSpace/js/Scripts/Quests/*.bak
EmpiresInSpace/obj
EmpiresInSpace/Server/*.bak
EmpiresInSpace/SocketServer/*.bak
EmpiresInSpace/*.bak

EmpiresInSpace2/bin
EmpiresInSpace2/*.js
EmpiresInSpace2/*.js.map
EmpiresInSpace2/*.bak
EmpiresInSpace2/JavaScript/*.js
EmpiresInSpace2/JavaScript/*.js.map
EmpiresInSpace2/JavaScript/*.bak
EmpiresInSpace2/JavaScript/Classes/*.js
EmpiresInSpace2/JavaScript/Classes/*.js.map
EmpiresInSpace2/JavaScript/Classes/*.bak


EmpiresInSpace2/obj
EmpiresInSpace2/images/*.xcf


EmpiresInSpaceIndex/*.js
EmpiresInSpaceIndex/*.js.map
EmpiresInSpaceIndex/bin
EmpiresInSpaceIndex/obj
EmpiresInSpaceIndex/i18n/*.js
EmpiresInSpaceIndex/i18n/*.js.map
EmpiresInSpaceIndex/index/*.js
EmpiresInSpaceIndex/index/*.js.map

EmpiresInSpaceServer/bin
EmpiresInSpaceServer/obj

UnitTestProject/bin
UnitTestProject/obj

MapGenerator/bin
MapGenerator/obj

node_modules
packages


