<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="index" value="../index.aspx"/>-->
    <add key="index" value="http://empiresinspace.azurewebsites.net/Index.aspx" />
    <add key="activeConnection" value="UnitTest" />
    <add key="demoUser" value="demo" />
    <!--values:  demo (new Player is generated) ,demoPrePlayed (a generated user that was not already used is assigned) , 1, 2, 3 ( open user by id) , 0   (no demo, user is assigned by ip-adress)-->
    <add key="version" value="0.6396" />
    <add key="imageVersion" value="1.01" />
    <add key="logFilePath" value=".\logFile.txt" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="UnitTest" connectionString="server=(localdb)\MSSQLLocalDB;Initial Catalog=Andromeda;Integrated Security=True" providerName="System.Data.SqlClient" />
   </connectionStrings>
  <system.web>
    <httpRuntime targetFramework="4.5" />
    <sessionState timeout="120">
    </sessionState>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="RemoteOnly" defaultRedirect="/impressum/CustomError.html">
    </customErrors>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>