<?xml version="1.0" encoding="utf-8"?>

<!--
  Weitere Informationen zum Konfigurieren der ASP.NET-Anwendung finden Sie unter
  "http://go.microsoft.com/fwlink/?LinkId=169433"
  -->

<configuration>
  <appSettings>
    <!--<add key="index" value="../index.aspx"/>-->    
    <add key="activeConnection" value="Index"/>
    <add key="gameConnection" value="inSpaceGame"/>
    <add key="demo" value="http://empiresinspace.azurewebsites.net/demo"/>
    <add key="demo2" value="http://empiresinspace.azurewebsites.net/demoAdvanced"/>
    <add key="reCaptchaPublicKey" value="..."/>
    <add key="reCaptchaPrivateKey" value="..."/>
    
    <add key="version" value="0.712"/>
  </appSettings>
  
  <connectionStrings>
    <!-- Index Connections  -->
    <add name="Index" connectionString="server=(localdb)\MSSQLLocalDB;Initial Catalog=EmpiresIndex;Integrated Security=True" providerName="System.Data.SqlClient" />
   
    <!-- Online Games  -->

    
    
    <!-- Local Games  -->
    <add name="inSpaceGame5" connectionString="Data Source=.;Initial Catalog=demo100;Integrated Security=True"
      providerName="System.Data.SqlClient" />

    <add name="inSpaceGame10" connectionString="server=.;Initial Catalog=Cygnus4;Integrated Security=True"
     providerName="System.Data.SqlClient" />


  </connectionStrings>


  <system.web>
    <sessionState timeout="120"></sessionState>
    <compilation debug="true" targetFramework="4.0" />
  
    <!--
    <customErrors mode="Off"/>   
    <httpModules><add type = "DosAttackModule" name = "DosAttackModule" /></httpModules>    
    -->
    <customErrors mode="RemoteOnly"  defaultRedirect="/impressum/CustomError.html"></customErrors>
    
  </system.web>
   
</configuration>
