<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>    
    <add key="activeConnection" value="onlineInSpaceIndexConnectionString"/>
    <add key="gameConnection" value="onlineInSpaceGame"/>
    <add key="demo"  value="http://www.empiresinspace.de/demo/login.aspx"/>
    <add key="demo2" value="http://www.empiresinspace.de/demo2/login.aspx"/>
  </appSettings>
  
  <connectionStrings>
    <add name="onlineInSpaceIndexConnectionString" connectionString="Data Source=tcp:u025r2sjsn.database.windows.net,1433;Initial Catalog=inSpaceIndex;User ID=andi@u025r2sjsn;Password=Phoebe22" />    
    
    <add name="onlineInSpaceGame5" connectionString="Persist Security Info=False;server=db464645703.db.1and1.com;Initial Catalog=db464645703; User ID=dbo464645703;Password=101010game5101010"
      providerName="System.Data.SqlClient" />
  <add name="onlineInSpaceGame6" connectionString="Persist Security Info=False;server=db517459559.db.1and1.com;Initial Catalog=db517459559; User ID=dbo517459559;Password=game16Suns"
	providerName="System.Data.SqlClient" />          
  </connectionStrings>
  
  <system.web>
        <sessionState timeout="30"></sessionState>        
    </system.web>
   
</configuration>
